* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111111;
  color: #eeeeee;
  font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #b6fffa;
  text-decoration: none;
}
